body{background: #f5f5f5;}
i.icon{
	background: url(/img/icon.png) no-repeat;
	background-size:600px 155px;
	display: inline-block;
	font-size: 0.6rem;
	text-align: center;
}
.list-item-p ul{
	width: 100%;
	overflow: hidden;
}
/*列表两列左右靠边*/
.list-item-p ul > li{
	float: left;
	width: 49%;
	margin:0 2% 0.39rem 0;
	background: #fff;
	padding:0;
}
.list-item-p ul > li:nth-child(2n+2) {
    margin-right: 0;
}
/*图片展示*/
.list-item-p ul > li > .p{
	position: relative;
}
/*促*/
.p i.item_c{
	height: 22px;
	width: 19px;
	background-position: -14px -74px;
	top:0px;
	left:5px;
	padding-top: 2px;
	position: absolute;
	text-align: center;
}
/*新品*/
.p i.item_new{
	height:24px;
	width:24px;
	background-position: -517px -18px;
	right:5px;
	top:0px;
	letter-spacing: -1px;
	padding-top: 21px;
	position: absolute;

}
/*热卖*/
.p i.item_hot{
	height:24px;
	width:24px;
	background-position: -485px -18px;
	right:5px;
	top:0px;
	position: absolute;
	padding-top: 20px;
}
/*买一送一*/
.p i.i_bg {
	background:url(/img/i_bg.png) repeat-x;
	height: 30px;
	display:inline-block;
	background-size:8px 30px;
	position:absolute;
	left:5px;
	top:-1px;
	text-align: left;
	display: table;
	color: #fff;
}
.p i.item_zy{
	height: 25px;
	width: 25px;
	text-align: left;
	background:url(/img/i_t.png) no-repeat 3px 4px;
	background-size: 18px 18px;
	display: inline-block;
}
.i_text{
	display: table-cell;
	vertical-align: middle;
	padding-right:5px;
	vertical-align: top;
	padding-top: 5px;
	font-size: 0.6rem;
}
/*已抢光*/
.p i.item_sj{
	position: absolute;
	top: 0px;
	left:0px;
	width: 100%;
	height:100%;
	text-align: center;
	background:url(/img/i_sj.png) no-repeat center;
	background-color: rgba(0, 0, 0, 0.3);
	background-size: 80%;
}

/*文字介绍*/
.list-item-p ul > li > .d{
	padding:5px;
	position: relative;
}
.d em{font-size: 0.6rem; color: #f9a80c;}
.org{ color: #f9a80c; font-size: 0.9rem;font-family: arial;}
.d del{color:#bebebe;font-size: 0.6rem; }
/****增加数量******/
.buy { position: absolute; bottom: 5px; right: 7px; background: #fff; }
.buy .btn { position: relative; top: 5px; height: 22px; border-radius: 11px; box-sizing: border-box; width: 22px; display: inline-block; color: #d4d4d4; border: 1px solid #d4d4d4; background: #fff; font-size: 1.8rem; line-height: 9px; }
.buy .buy_cut:before, .buy .buy_add:before { content: ""; width: 11px; height: 0; border-top: 1px solid #d4d4d4; position: absolute; top: 10px; left: 5px; }
.buy .buy_add:after { content: ""; width: 0; height: 11px; border-left: 1px solid #d4d4d4; position: absolute; top: 5px; left: 10px; }

/*文字列表*/
.list-item-t{
	padding:0 5px 3px 5px;
	background: #fff;
}
.list-item-t  li{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.list-item-t .p{
    overflow: hidden;
    width: 110px;
    height: 110px;
    position: relative;
}
.list-item-t .d{
	padding: 4px 5px 6px 1%;
    -webkit-box-flex: 1;
    position: relative;
    border-bottom: 1px solid #f0f0f0;
    height:102px;
}
.list-item-t .d .d-price{
	position: absolute;
	top:0px;
	right:2px;
	text-align: right;
	width:30%;
}
.list-item-t h5,.list-item-t h6{
	width:70%;
}
/*满赠*/
.car_pbtn{ font-size: 0.6rem;display: inline-block; background: #f9d029; color: #fff; padding: 2px 6px; border-radius: 5px; margin-top: 5px; }
/*已售*/
.car_s{position: absolute;bottom:5px;left:5px;}